body{
    background: linear-gradient(to left top, #2196F3, #64B5F6);
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient();
}

.form-container{
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    margin-left: 12px;
}

input
    {
    border-radius: 3px;
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: 10px;
    margin-left: 12px;
}

span{
    display: block;
    margin-top: 5px;
    margin-left: 12px;
    margin: 10px;
}
button{
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color:  #007bff;
    color: white;
    border: none;
    margin-left: 12px;
    width: 92%;
    cursor: pointer;
    transition: background-color 0.3 ease;
    font-size: medium;
    font-weight: bold;

}
button:hover{
    background-color: #0056b3;
}

a{
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-size: large;
    font-weight: 600;
}