.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 60px;
    /* justify-content: center; */
    gap: 20px;
    margin-left: 150px;
}

.cards{
    width: 250px;
    border: 1px solid black;
    /* align-items: center; */
    padding: 20px;
    background-color: rgb(228, 199, 143);
    border-radius: 10px;

}

.cards:hover{
    transform: scale(1.1);
}

img{
    /* margin-left: 20px; */
    border-radius: 10px;
}


button{
    padding: 10px;
    /* margin-left: 10px; */
    border-radius: 5px;
}