.spinner{
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.productList{
    display: flex;
    flex-wrap: wrap;
    
}

.cards{
    border: 1px solid black;
    padding: 10px;
    height: 440px;
    width: 300px;
    justify-content: center;
    margin: 25px;
    border-radius: 10px;
}

img{
    border-radius: 20px;
}

.cards:hover {
    transition: transform 0.3s ease-in-out; /* Add transition for smooth scaling */
    transform: scale(1.2); /* Scale the image to 110% on hover */
  }

.cards img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1); 
  }

  button:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
  }