
.productList{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 60px;
    gap: 20px;
}
h1{
    text-decoration: underline;
}
.cards{
    width: 200px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(236, 185, 90);

}
img{
    border-radius: 10px;
}

.cards:hover{
    scale: 1.1;;
}
