.navbar1{
    text-decoration: none;
    margin-left: 20px;
    color: rgb(126, 120, 120);
}
.navbar1:hover{
color: white;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    text-decoration: none;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    align-items: center;
    padding: 10px;
    
}
.card img{
    border-radius: 50%;
}
button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: black;
}